/* all desktop images card section */
body{
    background-color: #d1cece;
}

.s-product{
    background-color: aliceblue;
    margin-bottom: 15px;
}
.pro-item-img img{
    width: 90%;
    height: 550;
    margin-left: 7%;
}
.item-details h4{
    font-size: 16px;
    line-height: 1.4;
    margin-left: 12px;
    font-weight: 600;
    margin-bottom: 20px;
}
.i-short-description ul li{
      color: #6d6c6c;
      font-size: 14px;
      line-height: 1.8;
}
/* .i-short-description{
    height: 180px;
}
.item-details h4{
    height: 60px;
} */
.p-item-price .i-price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: salmon;
    font-weight: 600;
    font-size: 18px;
}
.p-item-price hr{
    color: #6d6c6c;
    width: 90%;
    margin: 0 auto;
}

/* processor */
.p-product{
    height: 530px;
}
.processor-img img{
    width: 70%;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 15%;
}

